apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Release.Namespace }}
binaryData:
  # Should be put into a secret
  RsaSignaturePub.key: {{ .Values.global.rsaPublicKey }}
data:
  cadc-registry.properties: |
    ivo://ivoa.net/std/GMS#search-1.0 = {{ .Values.global.gmsID }}
    http://www.opencadc.org/std/UMS#users-1.0 = {{ .Values.global.gmsID }}

    # Here to support the ACIdentityManager.  Not used by any other IdentityManager.
    ivo://ivoa.net/std/CDP#proxy-1.0 = {{ .Values.global.cdpID }}

    http://www.opencadc.org/std/posix#group-mapping-0.1 = {{ .Values.global.posixMapperID }}
    http://www.opencadc.org/std/posix#user-mapping-0.1 = {{ .Values.global.posixMapperID }}

    {{- $raw := .Values.global.registryURL -}}
    {{- $urls := ternary (list $raw) $raw (kindIs "string" $raw) -}}
    {{- range $urls }}
    ca.nrc.cadc.reg.client.RegistryClient.baseURL = {{ . }}
    {{- end }}
  cadc-log.properties:
    {{ range .Values.global.loggingGroups }}
    group = {{ . }}
    {{ end }}
  catalina.properties: |
    tomcat.connector.scheme=https
    tomcat.connector.proxyName={{ .Values.global.hostname }}
    tomcat.connector.proxyPort=443
    ca.nrc.cadc.auth.PrincipalExtractor.enableClientCertHeader=true
    ca.nrc.cadc.util.Log4jInit.messageOnly=true
    # (default: ca.nrc.cadc.auth.NoOpIdentityManager)
    ca.nrc.cadc.auth.IdentityManager=ca.nrc.cadc.ac.ACIdentityManager

    {{- with .Values.application.uws }}
    sc2meta.uws.maxActive = {{ .maxActive | default 2 }}
    sc2meta.uws.url = {{ required "Set the URL for the UWS database" .url }}
    sc2meta.uws.username = {{ required "Set the username for the UWS database" .username }}
    sc2meta.uws.password = {{ required "Set the password for the UWS database" .password }}
    {{- end }}
