apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Release.Namespace }}
binaryData:
  # Should be put into a secret
  RsaSignaturePub.key: {{ .Values.rsaPublicKey }}
data:
  cadc-registry.properties: |
    ivo://ivoa.net/std/GMS#search-1.0 = {{ .Values.gmsID }}
    ivo://ivoa.net/std/GMS#users-1.0 = {{ .Values.gmsID }}
    ivo://ivoa.net/std/UMS#users-0.1 = {{ .Values.gmsID }}
    ivo://ivoa.net/std/UMS#users-1.0 = {{ .Values.gmsID }}

    # Here to support the ACIdentityManager.  Not used by any other IdentityManager.
    ivo://ivoa.net/std/CDP#proxy-1.0 = ivo://cadc.nrc.ca/cred

    http://www.opencadc.org/std/posix#group-mapping-0.1 = {{ .Values.posixMapperResourceID }}
    http://www.opencadc.org/std/posix#user-mapping-0.1 = {{ .Values.posixMapperResourceID }}

    {{- $raw := .Values.registryURL -}}
    {{- $urls := ternary (list $raw) $raw (kindIs "string" $raw) -}}
    {{- range $urls }}
    ca.nrc.cadc.reg.client.RegistryClient.baseURL = {{ . }}
    {{- end }}
  cadc-log.properties:
    {{ range .Values.loggingGroups }}
    group = {{ . }}
    {{ end }}
  catalina.properties: |
    tomcat.connector.scheme=https
    tomcat.connector.proxyName={{ .Values.hostname }}
    tomcat.connector.proxyPort=443
    ca.nrc.cadc.auth.PrincipalExtractor.enableClientCertHeader=true
    ca.nrc.cadc.util.Log4jInit.messageOnly=true
    # (default: ca.nrc.cadc.auth.NoOpIdentityManager)
    ca.nrc.cadc.auth.IdentityManager=ca.nrc.cadc.ac.ACIdentityManager

    sc2meta.uws.maxActive = {{ .Values.uws.maxActive }}
    sc2meta.db.url = {{ .Values.uws.url }}
    sc2meta.db.username = {{ required "Set the username for UWS" .Values.uws.username }}
    sc2meta.db.password = {{ .Values.uws.password }}
