---
# Resource Flavors
apiVersion: kueue.x-k8s.io/v1beta1
kind: ResourceFlavor
metadata:
  name: worker-flavor
spec:
  nodeLabels:
    skaha.opencadc.org/node-type: worker-node
---
apiVersion: kueue.x-k8s.io/v1beta1
kind: ResourceFlavor
metadata:
  name: gpu-flavor
spec:
  nodeLabels:
    skaha.opencadc.org/node-type: gpu-node
---
# ClusterQueue
apiVersion: kueue.x-k8s.io/v1beta1
kind: ClusterQueue
metadata:
  name: skaha-cluster-queue
spec:
  namespaceSelector:
    matchExpressions:
      - key: kubernetes.io/metadata.name
        operator: In
        values: [ skaha-workload, canfar-b-workload ]
  queueingStrategy: BestEffortFIFO
  cohort: skaha-cohort
  resourceGroups:
    - coveredResources: ["cpu", "memory", "ephemeral-storage", "nvidia.com/gpu"]
      flavors:
        - name: "worker-flavor"
          # Cluster Hardware Configuration
          # Does not include
          #   - skaha.opencadc.org/node-type=service-node (p-nodes)
          #   - node-role.kubernetes.io/control-plane
          # Compute Nodes: 2 x [16 cores, 59Gi memory, 500Gi ephemeral-storage]
          # nominalQuota = count * size
          # borrowing / lending = size * 40%
          resources:
            - name: "cpu"
              nominalQuota:   "28.8"
              borrowingLimit: "6"
              lendingLimit:   "6"
            - name: "memory"
              nominalQuota:   "94Gi"
              borrowingLimit: "32Gi"
              lendingLimit:   "32Gi"
            - name: "ephemeral-storage"
              nominalQuota:   "700Gi"
              borrowingLimit: "200Gi"
              lendingLimit:   "200Gi"
            - name: "nvidia.com/gpu"
              nominalQuota: "0"
              borrowingLimit: "0"
              lendingLimit: "0"
        - name: "gpu-flavor"
          # Cluster Hardware Configuration
          # Does not include
          #   - skaha.opencadc.org/node-type=service-node (p-nodes)
          #   - skaha.opencadc.org/node-type=worker-node (p-nodes)
          #   - node-role.kubernetes.io/control-plane
          # No GPUs.  Here for testing only.
          resources:
            - name: "cpu"
              nominalQuota:   "1"
              borrowingLimit: "0"
              lendingLimit:   "0"
            - name: "memory"
              nominalQuota:   "4Gi"
              borrowingLimit: "0"
              lendingLimit:   "0"
            - name: "ephemeral-storage"
              nominalQuota:   "10Gi"
              borrowingLimit: "0"
              lendingLimit:   "0"
            - name: "nvidia.com/gpu"
              nominalQuota: "0"
              borrowingLimit: "0"
              lendingLimit: "0"
  preemption:
    reclaimWithinCohort: LowerPriority
    borrowWithinCohort:
      policy: LowerPriority
      maxPriorityThreshold: 10000
    withinClusterQueue: LowerPriority
  stopPolicy: None
---
# WorkloadPriorityClass
apiVersion: kueue.x-k8s.io/v1beta1
kind: WorkloadPriorityClass
metadata:
  name: low
value: 10000
description: "Low Priority"
---
# WorkloadPriorityClass
apiVersion: kueue.x-k8s.io/v1beta1
kind: WorkloadPriorityClass
metadata:
  name: medium
value: 100000
description: "Medium Priority"
---
# WorkloadPriorityClass
apiVersion: kueue.x-k8s.io/v1beta1
kind: WorkloadPriorityClass
metadata:
  name: high
value: 1000000
description: "High Priority"
