apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Release.Namespace }}
binaryData:
  # Should be put into a secret
  RsaSignaturePub.key: {{ .Values.global.rsaPublicKey }}
data:
  cadc-registry.properties: |
    ivo://ivoa.net/std/GMS#search-1.0 = {{ .Values.global.gmsID }}
    http://www.opencadc.org/std/UMS#users-1.0 = {{ .Values.global.gmsID }}

    # Here to support the ACIdentityManager.  Not used by any other IdentityManager.
    ivo://ivoa.net/std/CDP#proxy-1.0 = {{ .Values.global.cdpID }}

    http://www.opencadc.org/std/posix#group-mapping-0.1 = {{ .Values.global.posixMapperID }}
    http://www.opencadc.org/std/posix#user-mapping-0.1 = {{ .Values.global.posixMapperID }}

    {{- $raw := .Values.global.registryURL -}}
    {{- $urls := ternary (list $raw) $raw (kindIs "string" $raw) -}}
    {{- range $urls }}
    ca.nrc.cadc.reg.client.RegistryClient.baseURL = {{ . }}
    {{- end }}
  cadc-log.properties:
    {{ range .Values.global.loggingGroups }}
    group = {{ . }}
    {{ end }}
  catalina.properties: |
    tomcat.connector.scheme=https
    tomcat.connector.proxyName={{ .Values.global.hostname }}
    tomcat.connector.proxyPort=443
    ca.nrc.cadc.auth.PrincipalExtractor.enableClientCertHeader=true
    ca.nrc.cadc.util.Log4jInit.messageOnly=true
    # (default: ca.nrc.cadc.auth.NoOpIdentityManager)
    ca.nrc.cadc.auth.IdentityManager=ca.nrc.cadc.ac.ACIdentityManager

    {{- with .Values.application.caom2Metadata }}
    org.opencadc.torkeep.caom2.maxActive = {{ .maxActive | default 2 }}
    org.opencadc.torkeep.caom2.url = {{ required "Set the URL for the CAOM-2 database" .url }}
    org.opencadc.torkeep.caom2.username = {{ required "Set the username for the CAOM-2 database" .username }}
    org.opencadc.torkeep.caom2.password = {{ required "Set the password for the CAOM-2 database" .password }}
    {{- end }}
  torkeep.properties: |
    # permission services (one per line) that provide read and write grants
    {{- with .Values.application.grantProviders }}
    {{- range . }}
    org.opencadc.torkeep.grantProvider = {{ . }}
    {{- end }}
    {{- end }}

    # collection name and one or more collection properties
    {{- with .Values.application.collections }}
    {{- range . }}
    org.opencadc.torkeep.collection = {{ required "Set the collection name" .name }}
    {{ .name }}.basePublisherID = {{ required (printf "Set the basePublisherID for collection %s" .name) .basePublisherID }}
    {{ .name }}.computeMetadata = {{ required (printf "Set the computeMetadata flag {true | false} for collection %s" .name) .computeMetadata }}
    {{ .name }}.proposalGroup = {{ required (printf "Set the proposalGroup flag {true | false} for collection %s" .name) .proposalGroup }}
    {{- end }}
    {{- end }}
